name: build

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
      - name: Run Golangci Linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.1
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        go: ['1.16', '1.17', '1.18', '1.19', '1.20', '1.21', '1.22', '1.23', '1.24', '1.25']
    steps:
      - uses: actions/checkout@v5
      - uses: extractions/setup-just@v3
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: Build and test
        run: just build test
  coverage:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: extractions/setup-just@v3
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - name: Generate coverage report
        run: just coverage
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}